# - Dependencies (NodeJS) directory
node_modules/*

# - Build directory
dist/*

# - Test directory
coverage/*

# - Text Editor (Visual Studio Code) directory and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Environment files
.env
.env.*
!.env.example
